.text-banner-span {
    text-align: center;
}

.img-banner-style {
    width: 200px;
    height: 200px;
}

.a-banner-style {
    margin-top: 2px;
}

.banner-style {
    margin-top: 10%;
}